# Ignore PyCharm project files
.idea/
*.iml

# Ignore Python virtual environment
venv/
.env
.venv/
.env.local

# Ignore compiled files
__pycache__/
*.pyc
*.pyo

# Ignore logs and test output
*.log
*.out
*.coverage
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore other temporary files
*.swp
*~

# Ignore VSCode settings
.vscode/
settings.json
launch.json
tasks.json

# Ignore extensions and configuration for VSCode
*.code-workspace